<a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>

<aside id="colorlib-aside" role="complementary" class="border js-fullheight">

    <div class="text-center">
        <div class="author-img" style="background-image: url(images/Tanvi.jpg);"></div>
        <h1 id="colorlib-logo"><a href="index.html">Tanvi Kalola</a></h1>
        <span class="position">Web Developer <br />at Yudiz Solutions Pvt. Ltd.</span>

    </div>
    <nav id="colorlib-main-menu" role="navigation" class="navbar">
        <div id="navbar" class="collapse">
            <ul>

                <li><a href="About" data-nav-section="about">About</a></li>
                <li><a href="Education" data-nav-section="skills">Education</a></li>
                <li><a href="Project" data-nav-section="skills">Project</a></li>
                <li><a href="Skill" data-nav-section="education">Skills</a></li>
                <li><a href="Contact" data-nav-section="contact">Contact</a></li>
            </ul>
        </div>
    </nav>

    <div style="padding:20px"></div>

    <div class="text-center">
        <span class="position">You can contact me :</span>
        <span class="position">7201061088<br />
        tanvikalola0501@gmail.com</span>
    </div>

</aside>



