@page "/About"

<div id="colorlib-main">
    <section class="colorlib-about" data-section="about">
        <div class="colorlib-narrow-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="row row-bottom-padded-sm animate-box" data-animate-effect="fadeInLeft">
                        <div class="col-md-12">
                            <div class="about-desc">
                                <span class="heading-meta">About</span>
                                <h2 class="colorlib-heading">About</h2>

                                <p><strong>  I am Tanvi Kalola.</strong>I am from Rajkot.I completed my 10th and 12th from Sarvdaya School.I pursuing my B.tech from Darshan Institute Of Engineering And Technology.</p>
                                <p>I am trainee at Yudiz Solutions Pvt. Ltd. and i am working in .NET technology. i already have some basic knowladge about .NET Entity Framework . Currently learning Blazor for Frontend.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 animate-box" data-animate-effect="fadeInLeft">
                            <div class="services color-1">
                                <span class="icon2"><i class="icon-bulb"></i></span>
                                <h3>Web Development</h3>
                            </div>
                        </div>
                        <div class="col-md-3 animate-box" data-animate-effect="fadeInRight">
                            <div class="services color-2">
                                <span class="icon2"><i class="icon-globe-outline"></i></span>
                                <h3>Web <br />Design</h3>
                            </div>
                        </div>
                        <div class="col-md-3 animate-box" data-animate-effect="fadeInTop">
                            <div class="services color-3">
                                <span class="icon2"><i class="icon-data"></i></span>
                                <h3>Database Management</h3>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


@code {

}
