@page "/Project"

    <div id="colorlib-main">
        <section class="colorlib-experience" data-section="experience">
            <div class="colorlib-narrow-content">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
                        <span class="heading-meta">Project</span>
                        <h2 class="colorlib-heading animate-box">Project</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="timeline-centered">
                            <article class="timeline-entry animate-box" data-animate-effect="fadeInLeft">
                                <div class="timeline-entry-inner">

                                    <div class="timeline-icon color-1">
                                        <i class="icon-pen2"></i>
                                    </div>

                                    <div class="timeline-label">
                                        <h2><a href="#">Hotel Management System</a> <span>using Asp.NET</span></h2>
                                        <p>
                                            In this project manager of hotel can check every information about room , shop etc.
                                            Manager can also book room for customers . It’s a dynamic web application in which
                                            we can perform all CRUD operations in 3-Tier Architecture.
                                        </p>
                                    </div>
                                </div>
                            </article>


                            <article class="timeline-entry animate-box" data-animate-effect="fadeInRight">
                                <div class="timeline-entry-inner">
                                    <div class="timeline-icon color-3">
                                        <i class="icon-pen2"></i>
                                    </div>
                                    <div class="timeline-label">
                                        <h2><a href="#">Address Book</a> <span>using Asp.NET</span></h2>
                                        <p>
                                            In this project the address book named adminpanel was created to make changes in order
                                            To add, edit and delete the following terms City, State, Country, Contact, Contact Category,
                                            and Blood Group also. Which can vary by the Admin User. I performed it in 1-Tier and 3-
                                            Tier Architecture.
                                        </p>
                                    </div>
                                </div>
                            </article>

                            <article class="timeline-entry begin animate-box" data-animate-effect="fadeInBottom">
                                <div class="timeline-entry-inner">
                                    <div class="timeline-icon color-none">
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    @code {

    }
