@page "/Skill"

<div id="colorlib-main">
    <section class="colorlib-services" data-section="services">
        <div class="colorlib-narrow-content">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
                    <span class="heading-meta">What I do?</span>
                    <h2 class="colorlib-heading">Here are my Skills</h2>
                </div>
            </div>
            <div class="row row-pt-md">
                <div class="col-md-4 text-center animate-box">
                    <div class="services color-1">
                        <span class="icon">
                            <i class="icon-bulb"></i>
                        </span>
                        <div class="desc">
                            <h3>Web</h3>
                            <p>Asp .NET , HTML , CSS , BOOTSTRAP</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center animate-box">
                    <div class="services color-2">
                        <span class="icon">
                            <i class="icon-data"></i>
                        </span>
                        <div class="desc">
                            <h3>Programming</h3>
                            <p>C , C# , <br />Python , SQL</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center animate-box">
                    <div class="services color-3">
                        <span class="icon">
                            <i class="icon-phone3"></i>
                        </span>
                        <div class="desc">
                            <h3>Software</h3>
                            <p>Visual Studio , <br />MSSQL </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>
@code {

}
